[user]
	name = Nuno Silva
	email = nunosilva800@gmail.com
[commit]
	gpgsign = true
[gpg]
	program = gpg
[url "git@github.com:"]
        insteadOf = https://github.com/
[alias]
	dm = "!git remote prune origin && git branch -vv | grep origin | grep gone | awk '{print $1}'| xargs -L 1 git branch -D"
[core]
	editor = vim
[pull]
	ff = only
